{{/* saved as breadcrumbs.html in tokyo-mistakes/layouts/partials */}}
<nav class="breadcrumbs" aria-label="breadcrumb">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item">
      <a href="{{ .Site.Home.RelPermalink }}">Home</a>
    </li>

    {{ if .IsPage }} {{ with .CurrentSection }} {{ if ne .RelPermalink "/" }}
    <li class="breadcrumb-item">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }} {{ end }}
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    {{ else if .IsSection }}
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    {{ end }}
  </ol>
</nav>
