{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ if $related }}
<aside class="related-posts">
  <h3 class="related-posts-title">Related Posts</h3>
  <div class="related-posts-grid">
    {{ range $related }}
    <article class="related-post">
      {{ if .Params.featured_image }}
        <div class="related-post-image">
          <a href="{{ .Permalink }}">
            <img src="{{ $.Site.Params.imageBase }}{{ .Params.featured_image }}" 
                 alt="{{ .Title }}" 
                 loading="lazy">
          </a>
        </div>
      {{ end }}
      
      <div class="related-post-content">
        <h4 class="related-post-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h4>
        
        <div class="related-post-meta">
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
          {{ if .ReadingTime }}
            <span class="reading-time">{{ .ReadingTime }} min</span>
          {{ end }}
        </div>
        
        {{ if .Summary }}
          <p class="related-post-summary">{{ .Summary | truncate 100 }}</p>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</aside>
{{ end }}
