{{/* saved as podcast-embed.html tokyo-mistakes/layouts/shortcode */}} {{
$platform := .Get 0 | default "spotify" }} {{ $id := .Get 1 }} {{ $height :=
.Get 2 | default "232" }} {{ $theme := .Get 3 | default .Site.Params.colorScheme
| default "auto" }}

<div class="embed-container embed-{{ $platform }}">
  {{ if eq $platform "spotify" }}
  <iframe
    src="https://open.spotify.com/embed/episode/{{ $id }}?theme={{ $theme }}"
    width="100%"
    height="{{ $height }}"
    frameborder="0"
    allowtransparency="true"
    allow="encrypted-media"
    loading="lazy"
  >
  </iframe>
  {{ else if eq $platform "youtube" }}
  <iframe
    src="https://www.youtube.com/embed/{{ $id }}"
    width="100%"
    height="{{ $height }}"
    frameborder="0"
    allowfullscreen
    loading="lazy"
  >
  </iframe>
  {{ else if eq $platform "apple" }}
  <iframe
    src="https://embed.podcasts.apple.com/us/podcast/id{{ $id }}"
    width="100%"
    height="{{ $height }}"
    frameborder="0"
    allowtransparency="true"
    allow="encrypted-media"
    loading="lazy"
  >
  </iframe>
  {{ end }}
</div>
